scanpaths/*
scanpaths_fd/*
scanpaths_ffd/*
scanpaths_gd/*
texts/*
stimuli/*
embeddings/*

# Pycharm files
**/.idea/*

# log files, model files, etc
*.json
*.txt
*.tar

# pycache directories
**/__pycache__/
